html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hero-bg {
  position: relative;
  background: url('/img/bg/hero-bg_3.jpg') no-repeat bottom center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero-bg_2 {
  position: relative;
  background: url('/img/bg/hero-bg_5.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero__section {
  padding-top: 120px;
  margin-bottom: 90px
}

@media(max-width:576px) {
  .hero__section {
    padding-top: 30px
  }
}

.hero-slider .slick-track {
  -webkit-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s
}

.hero-text-slider {
  text-align: center;
  padding-top: 50px;
  max-width: 800px;
  margin: 0 auto
}